* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    overflow-x: scroll;
}

.page {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.page:nth-child(1) {
    background-image: url("../images/part111.png");
    background-size: cover;
}

.page:nth-child(2) {
    background-image: url("../images/part222.png");
    background-size: cover;
}