input {
    width: 400px;
    padding: 0 20px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,121,9,1) 0%, rgba(0,212,255,1) 100%);
}

body {
  background: rgb(15,37,210);
  background: linear-gradient(90deg, rgba(15,37,210,0.7945378835127801) 8%, rgba(244,1,1,0.7889356426164216) 22%, rgba(136,143,7,0.7917367630646008) 39%, rgba(15,37,210,0.7777311608237045) 60%, rgba(6,181,4,0.7077031496192228) 76%, rgba(244,1,1,0.6152661748293067) 94%);
}
button:hover {
  border: 2px solid #ff96ad;
  color: #ff96ad;
  background: transparent;
}