    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    

    
    html{
      scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        user-select: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        
    }
    
    body {
        background-image: url("alazar.gif");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        
    }
   

    marquee {
        color:rgb(226, 131, 255);
        padding: 1px;
        margin: 0;
    }
    
    audio {
        color: black;
    }
    /* From cssbuttons.io by @Damithkumara */
button {
 padding: 0.9em 1.8em;
 text-transform: uppercase;
 text-decoration: none;
 letter-spacing: 4px;
 color: transparent;
 border: 3px solid rgba(130, 15, 165, 0.479);
 font-size: 14px;
 position: relative;
 font-family: inherit;
 background: transparent;
}

button::before {
 content: "InfoPage";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #363636;
 color: rgb(223, 158, 18);
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 0.5s;
}

button:hover::before {
 left: 100%;
 transform: scale(0) rotateY(360deg);
 opacity: 0;
}

button::after {
 content: "InfoPage";
 position: absolute;
 top: 0;
 left: -100%;
 width: 100%;
 height: 100%;
 background-color: #363636;
 color: rgb(223, 158, 18);
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 0.5s;
 transform: scale(0) rotateY(0deg);
 opacity: 0;
}

button:hover::after {
 left: 0;
 transform: scale(1) rotateY(360deg);
 opacity: 1;
}

    .textolat {
        position: relative;
        justify-content: space-around;
        
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(39, 38, 38, 0.596);
        backdrop-filter: blur(5px);
        color: rgb(253, 253, 253);
        padding: 5vmin;
        max-width: 200px;
    }
    
    #textolat2 {
        position: relative;
        top: -440px;
        left: 90%;
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(39, 38, 38, 0.705);
        backdrop-filter: blur(7px);
        color: rgb(253, 253, 253);
        padding: 5vmin;
        max-width: 200px;
    }
    
    h1 {
        color: rgba(121, 67, 23, 0.753);
    }
    
    h2 {
        color: rgba(121, 67, 23, 0.753);
    }
    
    h3 {
        color: rgba(121, 67, 23, 0.753);
    }
    
    nav {
        background: #222;
    }
    
    nav:after {
        content: '';
        clear: both;
        display: table;
    }
    
    nav .logo {
        float: left;
        color: rgba(226, 131, 255, 0.699);
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
        line-height: 70px;
        padding-left: 60px;
    }
    
    nav ul {
        float: right;
        margin-right: 40px;
        list-style: none;
        position: relative;
    }
    
    nav ul li {
        display: inline-block;
        background: #222;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: white;
        line-height: 70px;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    nav ul li a:hover {
        color: rgb(226, 131, 255);
    }
    
    nav ul ul {
        position: absolute;
        top: 90px;
        opacity: 0;
        visibility: hidden;
        transition: top .3s;
    }
    
    nav ul li:hover>ul {
        top: 70px;
        opacity: 1;
        visibility: visible;
    }
    
    nav ul ul li {
        position: relative;
        margin: 0px;
        width: 150px;
        float: none;
        display: list-item;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    nav ul ul li a {
        line-height: 50px;
    }
    
    nav ul ul ul li {
        position: relative;
        top: -60px;
        left: 150px;
    }
    
    .show,
    .icon,
    input {
        display: none;
    }
    
    .fa-plus {
        font-size: 15px;
        margin-left: 40px;
    }
    
    @media all and (max-width: 968px) {
        nav ul {
            margin-right: 0px;
            float: left;
        }
        nav .logo {
            padding-left: 30px;
            width: 100%;
        }
        .show+a,
        ul {
            display: none;
        }
        nav ul li,
        nav ul ul li {
            display: block;
            width: 100%;
        }
        .show {
            display: block;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 20px;
            line-height: 70px;
            font-weight: 600;
            cursor: pointer;
        }
        .show:hover {
            color: rgb(255, 145, 218);
        }
        .icon {
            display: block;
            color: white;
            position: absolute;
            top: 0;
            right: 40px;
            line-height: 70px;
            cursor: pointer;
            font-size: 25px;
        }
        nav ul ul {
            top: 70px;
            border-top: 0px;
            float: none;
            position: static;
            display: none;
            opacity: 1;
            visibility: visible;
        }
        nav ul ul a {
            padding-left: 40px;
        }
        nav ul ul ul a {
            padding-left: 80px;
        }
        nav ul ul ul li {
            position: static;
        }
        [id^=btn]:checked+ul {
            display: block;
        }
        nav ul ul li {
            border-bottom: 0px;
        }
    }
    
    #note {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(39, 38, 38, 0.171);
        backdrop-filter: blur(3px);
        color: white;
        padding: 5vmin;
        border-radius: 10px;
        max-width: 700px;
        margin: auto;
        margin-top: 30vmin;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
